.board-play-area {
  align-items: flex-start;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  min-height: 150px;
  padding: 2.5% 2%;
  position: relative;
  width: calc(100% / 1.35);
}

.their-board-play-area {
  margin: auto 0 0;
}

.your-board-play-area {
  margin: 0 0 auto;
}
