.card {
  background: var(--card-background-color);
  border-radius: var(--card-border-radius);
  box-sizing: border-box;
  color: black;
  font-size: calc(var(--card-height) / 20);
  height: var(--card-height);
  position: relative;
  user-select: none;
  width: calc(var(--card-height) / 1.4);
}

.card .card-cost {
  align-items: center;
  background-image: radial-gradient(
    circle,
    hsla(197, 100%, 80%, 1),
    hsla(197, 90%, 65%, 1)
  );
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  color: #042c3c;
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.875em;
  font-weight: 600;
  height: calc(var(--card-height) / 10);
  justify-content: center;
  left: -8.675px;
  line-height: 1;
  position: absolute;
  top: -8.675px;
  user-select: none;
  width: calc(var(--card-height) / 10);
  z-index: 5;
}

.card .card-image {
  align-items: center;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  height: 50%;
  justify-content: flex-start;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.card .card-name {
  align-items: center;
  background: #d0deb3;
  border-radius: calc(var(--card-border-radius) / 2);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  font-weight: normal;
  height: 10%;
  justify-content: center;
  line-height: 1;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  user-select: none;
  width: 90%;
  z-index: 2;
}

.card .card-text {
  align-items: center;
  bottom: 15px;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1em;
  font-weight: normal;
  height: 25%;
  justify-content: center;
  line-height: calc(1.45 / var(--card-height));
  margin: 0;
  padding: 20px;
  position: relative;
  text-align: center;
  user-select: none;

  & > p {
    margin: 0;
    pointer-events: none;
    user-select: none;
  }
}

.card .card-type {
  align-items: center;
  background: lightgray;
  border-radius: calc(var(--card-border-radius) / 2);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.014);
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.715em;
  height: 5%;
  justify-content: center;
  letter-spacing: 0.0875em;
  margin: 0 auto;
  padding: 0.2em 0.15em;
  position: relative;
  text-align: center;
  user-select: none;
  width: 100%;
}

.card .card-attack {
  align-items: center;
  background: #f59b2b;
  border-radius: 50%;
  bottom: -4.165px;
  color: #6f3205;
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.875em;
  font-weight: 600;
  height: calc(var(--card-height) / 10);
  justify-content: center;
  left: -4.165px;
  line-height: 1;
  position: absolute;
  user-select: none;
  width: calc(var(--card-height) / 10);
  z-index: 5;
}

.card .card-health {
  align-items: center;
  background: #840802;
  border-radius: 50%;
  bottom: -4.165px;
  color: #ff9792;
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.875em;
  font-weight: 600;
  height: calc(var(--card-height) / 10);
  justify-content: center;
  line-height: 1;
  position: absolute;
  right: -4.165px;
  user-select: none;
  width: calc(var(--card-height) / 10);
  z-index: 5;
}
