.game-wrapper.game-over {
  animation: blur 800ms ease-in-out forwards;

  &:before {
    animation: fadeOut 800ms ease-in-out forwards;
    pointer-events: auto;
  }
}

@keyframes blur {
  0% {
    filter: blur(0);
  }

  100% {
    filter: blur(4px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
