.card-in-their-hand {
  box-sizing: border-box;
  cursor: default;
  padding: 0;
  position: relative;
  right: 0;
  top: 0;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: top, transform;
  user-select: none;
  z-index: 1; // make sure to NOT animate z-index

  * {
    pointer-events: none;
  }

  &:before {
    content: '';
    box-shadow: -5px 5px 5px hsla(0, 0%, 0%, 0.15);
    left: 0;
    height: var(--card-height);
    position: absolute;
    top: 0;
    transition: box-shadow 800ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    pointer-events: none;
  }

  &:after {
    content: none;
  }

  &.card-they-are-hovering:after {
    animation: isAttackingGlow 2500ms infinite;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
  }

  &.card-they-have-selected {
    animation: selectedRotation 10000ms infinite;
    animation-timing-function: ease-in-out;
    top: calc(var(--card-height) / 2);
    z-index: 100;

    &:before {
      box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.4);
    }
  }

  @keyframes selectedRotation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(4deg);
    }
    75% {
      transform: rotate(-4deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes isAttackingGlow {
    0% {
      box-shadow: 0 0 -10px #c4a300;
    }
    40% {
      box-shadow: 0 0 20px #c4a300;
    }
    60% {
      box-shadow: 0 0 20px #c4a300;
    }
    100% {
      box-shadow: 0 0 -10px #c4a300;
    }
  }
}

.card-in-your-hand {
  box-sizing: border-box;
  cursor: not-allowed;
  // margin-left: calc(calc(var(--card-height) / 0.95) / -2.765);
  padding: 0;
  position: relative;
  right: 0;
  top: 0;
  transition: 800ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-property: transform;
  // user-select: none;
  z-index: 1; // make sure to NOT animate z-index

  * {
    pointer-events: none;
  }

  &:before {
    content: '';
    box-shadow: -5px 5px 5px hsla(0, 0%, 0%, 0.15);
    left: 0;
    height: var(--card-height);
    position: absolute;
    top: 0;
    transition: box-shadow 800ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    pointer-events: none;
  }

  &:after {
    animation: none;
    background: #fff;
    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
  }
}

.card-in-your-hand:hover {
  padding-bottom: 250px;
  transform: translateY(calc(-0.0015 * var(--card-height))) rotate(0deg)
    scale(1) !important;
  transition: 100ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: box-shadow, padding, transform;
  z-index: 100;

  &:before {
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.4);
  }

  &:after {
    animation: fade 250ms ease-out forwards;
  }
}

.card-in-your-hand[data-is-playable='true'] {
  cursor: pointer;
}

.card-in-your-hand[data-is-selected='true'] {
  position: absolute;
  right: 5%;
  top: calc(-0.85 * var(--card-height));
  transform: translateY(0) rotate(0) scale(1) !important;
  z-index: 100;

  &:before {
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.4);
  }

  &:after {
    content: none;
  }

  &:hover {
    padding-bottom: 0;
    transform: inherit;
  }
}

@keyframes fade {
  0% {
    opacity: 0.625;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}

// prettier-ignore
[data-file='TheirHand'] {
  &[data-number-of-cards='1'] .card-in-their-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -3.625); }
  &[data-number-of-cards='2'] .card-in-their-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -3.625); }
  &[data-number-of-cards='3'] .card-in-their-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -3.625); }
  &[data-number-of-cards='4'] .card-in-their-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -3.625); }
  &[data-number-of-cards='5'] .card-in-their-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -3.15); }
  &[data-number-of-cards='6'] .card-in-their-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -2.765); }
  &[data-number-of-cards='7'] .card-in-their-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -2.425); }
  .card-in-their-hand[data-index='0'] { margin-left: 0; }
}

// prettier-ignore
[data-file='YourHand'] {
  &[data-number-of-cards='1'] .card-in-your-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -3.625); }
  &[data-number-of-cards='2'] .card-in-your-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -3.625); }
  &[data-number-of-cards='3'] .card-in-your-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -3.625); }
  &[data-number-of-cards='4'] .card-in-your-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -3.625); }
  &[data-number-of-cards='5'] .card-in-your-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -3.15); }
  &[data-number-of-cards='6'] .card-in-your-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -2.765); }
  &[data-number-of-cards='7'] .card-in-your-hand { margin-left: calc(calc(var(--card-height) / 0.95) / -2.425); }
  .card-in-your-hand[data-index='0'] { margin-left: 0; }
}

.card-is-playable {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
  pointer-events: auto;
}
