// prettier-ignore
:root {
  /* ================================ */
  /* layout vars */
  --board-theirHand-background-color:           #151515;
  --board-theirHand-height:                     45px;
  --board-theirHand-zIndex:                     200;
  --board-theirPlayerArea-background-color:     #272926;
  --board-theirPlayerArea-height:               85px;
  --board-theirPlayerArea-zIndex:               190;
  --board-yourHand-background-color:            #151515;
  --board-yourHand-height:                      45px;
  --board-yourHand-zIndex:                      200;
  --board-yourPlayerArea-background-color:      #272926;
  --board-yourPlayerArea-height:                85px;
  --board-yourPlayerArea-zIndex:                190;
  --board-hands-height: calc(
    var(--board-theirHand-height) + var(--board-yourHand-height)
  );
  --board-playerAreas-height: calc(
    var(--board-theirHand-height) + var(--board-yourHand-height)
  );

  /* ================================ */
  /* animation vars */
  --animation-transition-cubic:         cubic-bezier(0.19, 1, 0.22, 1);

  /* ================================ */
  /* card vars */
  --card-background-color:            #0d0a08;
  --card-border-radius:                 8px;
  --card-height:                        250px;

  /* ================================ */
  /* minion vars */
  --minion-height:                      150px;
  --minion-border-radius:               50%;
  --minion-stat-offset:                 0;

  /* ================================ */
  /* avatar vars */
  --avatar-border-radius:               65%;
  --avatar-height:                      155px;
  --avatar-width:                       175px;

  /* ================================ */
  /* player health vars */
  --player-health-size:                 50px;

  /* ================================ */
  /* deck vars */
  --deck-offset:                        100px;

  /* ================================ */
  /* class skill vars */
  --class-skill-button-size:            175px;

  /* ================================ */
  /* weapon vars */
  --weapon-border-radius:               50%;

  /* ================================ */
  /* box-shadow vars */
  --box-shadow-can-be-attacked-color-ripple:  rgba(249, 40, 40, 0.5);
  --box-shadow-can-be-attacked-color:         rgba(249, 40, 40, 0.865);
  
  --box-shadow-can-be-buffed-color-ripple:    rgba(45, 243, 216, 0.5);
  --box-shadow-can-be-buffed-color:           rgba(45, 243, 216, 0.865);
  
  --box-shadow-can-be-debuffed-color-ripple:  rgba(255, 173, 22, 0.5);
  --box-shadow-can-be-debuffed-color:         rgba(255, 173, 22, 0.865);
  
  --box-shadow-can-be-selected-color-ripple:  rgba(0, 196, 105, 0.5);
  --box-shadow-can-be-selected-color:         rgba(0, 196, 105, 0.865);

  --box-shadow-is-selected-color-ripple:      rgba(236, 210, 79, 0.5);
  --box-shadow-is-selected-color:             rgba(236, 210, 79, 0.865);
  
  --box-shadow-dimensions:      0px 0px 10px 10px;
  --box-shadow-can-be-attacked: var(--box-shadow-dimensions) var(--box-shadow-can-be-attacked-color);
  --box-shadow-can-be-buffed:   var(--box-shadow-dimensions) var(--box-shadow-can-be-buffed-color);
  --box-shadow-can-be-debuffed: var(--box-shadow-dimensions) var(--box-shadow-can-be-debuffed-color);
  --box-shadow-can-be-selected: var(--box-shadow-dimensions) var(--box-shadow-can-be-selected-color);
  --box-shadow-is-selected:     var(--box-shadow-dimensions) var(--box-shadow-is-selected-color);
}
