:root {
  /* layout vars */
  --board-theirHand-background-color: gray;
  --board-theirHand-height: 45px;
  --board-theirHand-zIndex: 200;
  --board-yourHand-background-color: gray;
  --board-yourHand-height: 45px;
  --board-yourHand-zIndex: 200;
  --board-players-hands-height: calc(
    var(--board-theirHand-height) + var(--board-yourHand-height)
  );

  /* card vars */
  --card-background-color: #ededed;
  --card-border-radius: 3px;
  --card-height: 250px;

  /* minion vars */
  --minion-height: 150px;
  --minion-border-radius: 25%;
  --minion-stat-offset: -4.165px;
}
