// prettier-ignore
:root {
  /* ================================ */
  /* layout vars */
  --board-theirHand-background-color:           #151515;
  --board-theirHand-height:                     45px;
  --board-theirHand-zIndex:                     200;
  --board-theirPlayerArea-background-color:     #272926;
  --board-theirPlayerArea-height:               85px;
  --board-theirPlayerArea-zIndex:               190;
  --board-yourHand-background-color:            #151515;
  --board-yourHand-height:                      45px;
  --board-yourHand-zIndex:                      200;
  --board-yourPlayerArea-background-color:      #272926;
  --board-yourPlayerArea-height:                85px;
  --board-yourPlayerArea-zIndex:                190;
  --board-hands-height: calc(
    var(--board-theirHand-height) + var(--board-yourHand-height)
  );
  --board-playerAreas-height: calc(
    var(--board-theirHand-height) + var(--board-yourHand-height)
  );

  /* ================================ */
  /* card vars */
  --card-background-color:            rgb(114, 96, 84);
  --card-border-radius:                 8px;
  --card-height:                        250px;

  /* ================================ */
  /* minion vars */
  --minion-height:                      150px;
  --minion-border-radius:               50%;
  --minion-stat-offset:                 5.165px;

  /* ================================ */
  /* avatar vars */
  --avatar-border-radius:               65%;
  --avatar-height:                      155px;
  --avatar-width:                       175px;

  /* ================================ */
  /* player health vars */
  --player-health-size:                 50px;

  /* ================================ */
  /* deck vars */
  --deck-offset:                        100px;
}
