.mechanics--has_charge {
  &:before {
    content: '';
    animation: glowing 2500ms infinite;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// forked via https://codepen.io/jpost-design/pen/EKZLzK
@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px #c4a300;
  }
  40% {
    box-shadow: 0 0 20px #c4a300;
  }
  60% {
    box-shadow: 0 0 20px #c4a300;
  }
  100% {
    box-shadow: 0 0 -10px #c4a300;
  }
}

.mechanics--target_arrow {
  box-sizing: border-box;
  border-top: 5px solid green !important;
  transition: 75ms ease-in;
  transition-property: height, width, transform;
  will-change: height, width, transform;
}
