html,
body,
#game {
  background: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@import 'abstracts/root';

@import 'components/board';
@import 'components/board-play-area';
@import 'components/board-slot';
@import 'components/minion';
@import 'components/player-energy';

@import 'interactions/card-interactions';
@import 'interactions/minion-interactions';
