.board-play-area {
  align-items: center;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  // height: calc(100% / 2.25);
  justify-content: center;
  min-height: 150px;
  position: relative;
  width: calc(100% / 1.05);
}

.their-board-play-area {
  margin: auto auto 2%;
}

.your-board-play-area {
  margin: 2% auto auto;
}
