.player-energy {
  box-sizing: border-box;
  position: absolute;
  left: auto;
  right: 0;
  margin: 0 20px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
